{{#with content as page}}
  <div class="main-header">
    <h4 class="area-heading">Title</h4>
    <div class="area-content">
      {{input value=page.title classNames="form-control"}}
    </div>
  </div>
  <div class="main-left">
    <h4 class="area-heading">Edit</h4>
    <div class="area-content">
      {{textarea value=page.content placeholder="Here's where you write something..." classNames="form-control"}}
    </div>
  </div>
  <div class="main-right">
    <h4 class="area-heading">Preview</h4>
    <div class="area-content">
      <div class="preview">
        {{markdown page.content}}
      </div>
    </div>
  </div>
  <div class="main-footer">
    <button class="btn btn-success btn-sm pull-right" {{action 'save'}} {{bindAttr disabled="page.isClean"}}>Save</button>
  </div>
{{/with}}
