{{#with content as page}}
  <div class="main-header">
    <h4 class="area-heading">Title</h4>
    <div class="area-content">
      {{input value=page.title placeholder="A nice title goes here..." classNames="form-control"}}
    </div>
  </div>
  <div class="main-left">
    <h4 class="area-heading">
      Edit
      <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank" class="pull-right"><i class="icon-question-sign"></i></a>
    </h4>
    <div class="area-content">
      {{textarea value=page.content placeholder="Here's where you write something..." classNames="form-control"}}
    </div>
  </div>
  <div class="main-right">
    <h4 class="area-heading">
      Preview
      {{#if page.url}}
      <a {{bindAttr href="page.url"}} target="_blank" class="pull-right"><i class="icon-external-link-sign"></i></a>
      {{/if}}
    </h4>
    <div class="area-content">
      <div class="preview">
        {{markdown page.content}}
      </div>
    </div>
  </div>
  <div class="main-footer">
    <button class="btn btn-danger btn-sm" {{action 'remove'}} {{bindAttr disabled="page.dontDelete"}}>Delete</button>
    <button class="btn btn-default btn-sm" {{action 'revert'}} {{bindAttr disabled="page.isClean"}}>Revert Changes</button>
    <button class="btn btn-success btn-sm pull-right" {{action 'save'}} {{bindAttr disabled="page.isClean"}}>Save</button>
  </div>
{{/with}}
